<!doctype html>
<html>
  <head>
    <title>Rouge, bitches</title>
  </head>
  <body>
    <h3>All Events</h3>

    <div id="app">
      {{ message }}
    </div>

    <ul>
      <% @events.each do |event| %>
        <li>
          <%= event.title %>
          <%= event.start_date %>
        </li>
      <% end %>
    </ul>

    <a href="/">Back to Home</a>

    <script src="js/vue.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          message: 'Hellooo Vue!'
        }
      });
    </script>
  </body>
</html>
