<!doctype html>
<html>
  <head>
    <title>Rouge, bitches</title>
  </head>
  <body>
    <h3>All Events</h3>

    <ul>
      <% @events.each do |event| %>
        <li>
          <%= event.title %>
          <%= event.start_date %>
        </li>
      <% end %>
    </ul>

    <a href="events/new">Create New</a>
  </body>
</html>
