<!doctype html>
<html>
  <head>
    <title>Rouge, bitches</title>
  </head>
  <body>
    Rouge, bitches

    <form action="/submit" method="POST">
      <input type="text" name="event[title]" placeholder="Enter Lipstick Name" />
      <input type="date" name="event[start_date]">
      <input type="submit" value="Submit" />
    </form>

    <a href="/">Back to Home</a>
  </body>
</html>
